.plus-button {
  background-color: var(--neutral-white);
  color: var(--light-green);
  font-size: 1.4rem;
  padding: .3rem .5rem;
  line-height: 1.5rem;
  border-radius: 50%;
  border: 10px solid var(--light-green);
}

.input-group {
  .btn {
    background-color: #8ACF47;
    color: var(--neutral-white);
    font-weight: 700;
    border-radius: 0 5px 5px 0;
    border-color: #7CB941;
  }
}

.wrapper-filter-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  .btn {
    i {
      margin-right: 5px;
    }
  }
}

.btn {
  &.btn-primary,
  &.btn-primary:active {
    background-color: #8ACF47;
    color: var(--neutral-white);
    border-color: var( --bread-green);
  }
  &.btn-clear {
    padding-left: 0;
    padding-right: 0;
  }
  &.btn-secondary,
  &.btn-secondary:active {
    background-color: var(--neutral-white);
    color: var(--bread-green);
    border-color: var(--bread-green);
  }
  &.btn-cancel {
    border-color: #CCCCCC;
  }
}

